{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Biru Merah News Corporation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
  <link rel="stylesheet" href="{% static  'css/bootstrap-social.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
     #nav-profile {
      color: white;
    }

    #nav-forum {
      color: white;
    }

    .navbar {
      background-color: #175676;
    }
  </style>
</head>


<body style="background-color: rgb(255, 255, 255)">
  <header>
    <nav class="navbar navbar-default navbar-static-top">
  <div class="container" id="header-bg">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="home-title" class="navbar-brand" href="{}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a id="nav-profile" href="{% url 'berita:index' %}"> Berita </a></li>
        <li><a id="nav-forum" href="{% url 'lihat-polling:index' %}"> Polling </a> </li>
        <li><a id="nav-forum" href="{% url 'profile:index' %}"> Profil </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
  </header>
  <content>
    <div class="container" >
      <section name= "profpict" id= "profpict">
        <div class="container">  
          <div class="media">   
            <img src='https://image.ibb.co/f5EAyy/people1.png' id = "img2" width="100" height="200">
            <center id="name">Hannah Montana</center>

          </div>
        </div>
      </section>

      <section name= "data-diri" id= "data-diri">
        <div class="container" id= "data" >
          <ul class="list-group" align = "center">
            <center><li class="list-group-item">Role: Mahasiswa </li></center>
            <center><li class="list-group-item">Id: 16067123 </li></center>
            <center><li class="list-group-item">Email: britney@entertainment.com </li></center>
            <center><li class="list-group-item">Phone: 021-843123 </li></center>
            <center><li class="list-group-item">Date of Birth: May, 28 1998 </li></center>
            <center><li class="list-group-item">Number of News: 10 </li></center>
          </ul>
        </div>
      </section>
    </div>

    <section name="my-list" id="my-list">
      <div class="container">
        <h2 id="my-list-title">Current News</h2>
        <hr>
        <div class="container">
          <div class="flex" id="flex">
            <div class="flex-item" id="flex-item">
                <div class="to-do-list">
                    <div class="to-do-list-title">
                        {{data.title}}
                        <img src='https://s18.postimg.cc/fjyu6bj7t/google_img.jpg' width="200" height="150">
                    </div>
                    <div class="to-do-list-date-added">
                        {{data.created_date}}
                        <p>Deretan Perusahaan Teknologi yang Gajinya Miliaran Rupiah</p>
                    </div>
                    <div class="to-do-list-description">
                        {{data.description}}
                        <p>Nilai tengah gaji para karyawan di Alphabet, induk perusahaan Google, mencapai USD 197.274, atau Rp 2,74 miliar, dalam setahun. Nilai tengah gaji para karyawan di Netflix mencapai USD 183.304, atau Rp 2,55 miliar, dalam setahun. Nilai tengah gaji para karyawan di media sosial Twitter mencapai USD 161.860, atau Rp 2,25 miliar, dalam setahun. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>

      <!--<div class="container">
      <div class="flex" id="flex1">
        <div class="flex-item" id="flex-item1">
            <div class="to-do-list">
              <div class="to-do-list-title">
                  {{data.title}}
                  <img src='https://preview.ibb.co/kumF4S/img.jpg' width="200" height="150">
              </div>
                   <div class="to-do-list-date-added">
                {{data.created_date}}
                <p>Kocak! Rambu Peringatan yang Bikin Pengendara Bingung.</p>
             </div>
            <div class="to-do-list-description">
              {{data.description}}
              <p>Rambu peringatan atau papan tanda jalan biasa digunakan untuk mudahkan pengendara di jalanan. Namun deretan peringatan rambu ini malah aneh, unik dan kocak. Mungkin di negara ini mobilnya sudah bisa dioperasikan di atas air.</p>
            </div>
        </div>
      </div>
      </div>
      </div>

      <div class="container">
      <div class="flex" id="flex2">
        <div class="flex-item" id="flex-item2">
            <div class="to-do-list">
              <div class="to-do-list-title">
                  {{data.title}}
                  <img src='https://preview.ibb.co/kumF4S/img.jpg' width="200" height="150">
              </div>
                   <div class="to-do-list-date-added">
                {{data.created_date}}
                <p>Kocak! Rambu Peringatan yang Bikin Pengendara Bingung.</p>
             </div>
            <div class="to-do-list-description">
              {{data.description}}
              <p>Rambu peringatan atau papan tanda jalan biasa digunakan untuk mudahkan pengendara di jalanan. Namun deretan peringatan rambu ini malah aneh, unik dan kocak. Mungkin di negara ini mobilnya sudah bisa dioperasikan di atas air.</p>
            </div>
        </div>
      </div>
      </div>
      </div>

      <div class="container">
      <div class="flex" id="flex2">
        <div class="flex-item" id="flex-item2">
            <div class="to-do-list">
              <div class="to-do-list-title">
                  {{data.title}}
                  <img src='https://preview.ibb.co/kumF4S/img.jpg' width="200" height="150">
              </div>
                   <div class="to-do-list-date-added">
                {{data.created_date}}
                <p>Kocak! Rambu Peringatan yang Bikin Pengendara Bingung</p>
             </div>
            <div class="to-do-list-description">
              {{data.description}}
              <p> Rambu peringatan atau papan tanda jalan biasa digunakan untuk mudahkan pengendara di jalanan. Namun deretan peringatan rambu ini malah aneh, unik dan kocak. Mungkin di negara ini mobilnya sudah bisa dioperasikan di atas air. </p>
            </div>
        </div>
      </div>
      </div>
      </div>-->
    </section>
  </content>
</body>
