{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BMNC PROJECT</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buat_berita.css' %}" /> </head>

  <link rel="stylesheet" type="text/css" href="{% static 'css/buat_polling_berita.css' %}" /> </head>

<body>
<form method="POST" action="{% url 'polling:buat_polling_berita' %}" class="form">

    <h2>BUAT POLLING BERITA</h2>
    {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.url_berita.errors }}
      <p>{{ form.url_berita.label_tag }}</p>
      {{ form.url_berita. }}

      {{ form.waktu_mulai.errors }}
      <p>{{ form.waktu_mulai.label_tag }}</p>
      {{ form.waktu_mulai }}

      {{ form.waktu_selesai.errors }}
      <p>{{ form.waktu_selesai.label_tag }}</p>
      {{ form.waktu_selesai }}

      {{ form.pertanyaan.errors }}
      <p>{{ form.pertanyaan.label_tag }}</p>
      {{ form.pertanyaan }}

      {{ form.pilihan.errors }}
      <p>{{ form.pilihan.label_tag }}</p>
      {{ form.pilihan }}


    <button type="submit">Post</button>

    <p type="URL berita">
      <input placeholder="https://" required> </p>
    <p type="Tanggal mulai">
      <input class="timedate" type="date" required> </p>
    <p type="Waktu mulai">
        <input class="timedate" type="time" required> </p>
    <p type="Tanggal selesai">
      <input class="timedate" type="date" required> </p>
      <p type="Waktu selesai">
        <input class="timedate" type="time" required> </p>
    <p type="Pertanyaan">
      <input required> </p>
    <p type="Pilihan 1">
      <input required> </p>
    <p type="Pilihan 2">
      <input required> </p>
    <button>Post</button>
   

    <div>
      <span class="nama_company"></span>Biru Merah News Corporation
    </div>
  </form>
</body>

</html>