<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap csss -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        Login | BMNC
    </title>
    <style>
    * {
      font-family: "Oxygen";
    }

    #footer {
      text-align: center;
    }

    #home-title {
      color: white;
    }

    #prof-img {
      width: 60%;
      height: 60%;
      padding-top: 20px;
    }

    #link-title {
      font-weight: lighter;
    }

    #nav-profile {
      color: white;
    }

    #nav-forum {
      color: white;
    }

    #forum-btn , #search-btn {
    display: inline-block;
    margin: 10px;
    border: 2px solid #000000;
    background-color: black;
    color: white;
  }

  #forum-btn:hover, #search-btn:hover {
    background-color: white;
    color: black;
  }

    .link-url {
      width: 40%;
      margin: 10px;
    }

    .navbar {
      background-color: #175676;
    }

    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    }

    .title {
        color: grey;
    }

    li {
      color: white;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    button:hover {
        background: none;
        border: 2px solid #000000;
        color: black;
    }

    a:hover {
      opacity: 0.7;
    }

    </style>
</head>

<body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container" id="header-bg">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="home-title" class="navbar-brand" href="{% url 'profile:index' %}">BMNC News</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- LINK MENUJU table, dan link menuju home#form -->
              <li><a id="nav-profile" href="#"> Berita </a></li>
              <li><a id="nav-forum" href="#"> Polling </a> </li>
              <li><a id="nav-forum" href="#"> Profil </a> </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>
    <content>
        <div class="container">
          <h1>Registrasi Akun Baru</h1>
          <hr/>
          <section name="bio">
      <div class="card">
      <form style="padding:10px">
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Username">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Password">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Nomor Identitas">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Nama">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Tempat Lahir">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Tanggal Lahir">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Email">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="No. HP">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Status Kemahasiswaan">
      </div>
      <div class="input-group" style="margin:10px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="ID Universitas">
      </div>
      </form>
      <div class="center-block" style="text-align: center; width: 200px; padding: 10px; "> 
          <a href="{% url 'profile:index' %}"><button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">Submit</button></a>
      </div>
    </div>
  </section>
    <hr/>
  </div>

    </content>
    <footer>
        <p id="footer">&copy; Group 18 Basdat 2018-1 | Hardcode </p>
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
