<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="'css/bootstrap-social.css'">
        <title>Menu Berita</title>
        <!-- Bootstrap core CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <!-- Custom styles for this template -->
        <link href="berita_page.css" rel="stylesheet">
        <style>
        {
      font-family: "Oxygen";
    }

         #nav-profile {
          color: white;
        }

        #nav-forum {
          color: white;
        }

        .navbar {
          background-color: #175676;
        }
      </style>
    </head>

<body class="bg-light" >
<header> 
  <div>  
<nav class="navbar navbar-default navbar-static-top">
  <div class="container" id="header-bg">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b id="home-title" class="navbar-brand" href="{}">BMNC News</b>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a id="nav-profile" href="{% url 'berita:index' %}"> Berita </a></li>
        <li><a id="nav-forum" href="{% url 'lihat-polling:index' %}"> Polling </a> </li>
        <li><a id="nav-forum" href="{% url 'profile:index' %}"> Profil </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</div>
</header>

  
  <div class="text-center">
    <div class="container">
      <div class="row pt-4">
        <div class="container">
        <h2 id="my-list-title">Current News</h2>
        </div>
        <hr>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h1>
                <h4>{{judul_berita}}</h4>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{isi_berita}}</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-info">See more</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h1>
                <h4>{{judul_berita_1}}</h4>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{isi_berita_1}}</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-info">See more</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h1>
                <h4>{{judul_berita_2}}</h4>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{isi_berita_2}}</li>

  <div class="pt-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-0">
          <h1 class="display-4 justify-content-center text-left">Jumlah berita : </h1>
        </div>
        <div class="col-md-2 offset-md-4">
          <a class="btn btn-primary btn-block btn-lg m-2 w-100 py-2" href="{% url 'berita:buat_berita' %}">
            <b>Buat berita</b>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row pt-4">

        {% for berita in beritaBerita %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ berita.created_date }}</h4>
            </div>
            <div class="card-body">
              <h1>
                <b>{{ berita.judul}}</b>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Topik : {{ berita.created_date }}</li>
                <li>Jumlah kata : {{ berita.jumlah_kata }}</li>

              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-info">See more</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="pt-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-4">
          <a class="btn btn-primary btn-block btn-lg m-2 w-100 py-2" href="{% url 'berita:buat_berita' %}" style = "margin-top: 90px; margin-left: 500px;">
            <b>Buat berita</b>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer>
        <center><p id="footer">&copy; Group 18 Basdat 2018-1 | Hardcode </p></center>
    </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>