{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>BMNC PROJECT</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buat_berita.css' %}" /> </head>

<body>
  <form method="POST" action="{% url 'berita:simpan_berita' %}" class="form">

    <h2>BUAT BERITA</h2>
    {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.judul.errors }}
      <p>{{ form.judul.label_tag }}</p>
      {{ form.judul }}

      {{ form.url_berita.errors }}
      <p>{{ form.url_berita.label_tag }}</p>
      {{ form.url_berita. }}

      {{ form.topik.errors }}
      <p>{{ form.topik.label_tag }}</p>
      {{ form.topik }}

      {{ form.jumlah_kata.errors }}
      <p>{{ form.jumlah_kata.label_tag }}</p>
      {{ form.jumlah_kata }}

      {{ form.tag.errors }}
      <p>{{ form.tag.label_tag }}</p>
      {{ form.tag }}

    <button type="submit">Post</button>

    <div>
      <span class="nama_company"></span>Biru Merah News Corporation
    </div>

  </form>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>