{% load static %}
{% block header %}

<style>
     #nav-profile {
      color: white;
    }

    #nav-forum {
      color: white;
    }

    .navbar {
      background-color: #175676;
    }
</style>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container" id="header-bg">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="home-title" class="navbar-brand" href="{}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a id="nav-profile" href="{% url 'berita:index' %}"> Berita </a></li>
        <li><a id="nav-forum" href="{% url 'lihat-polling:index' %}"> Polling </a> </li>
        <li><a id="nav-forum" href="{% url 'profile:index' %}"> Profil </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{% endblock %}